# Created by .ignore support plugin (hsz.mobi)
target

.idea/dataSources.local.xml
.idea/dataSources/
.idea/inspectionProfiles/
.idea/workspace.xml


/src/test/resources/
/src/main/resources/log4j.properties
/src/main/java/com/lbxy/weixin/properties/Properties.java
/src/main/java/com/lbxy/weixin/properties/AuthKey.java
/src/main/resources/globalConfig.properties